# Frontend (Vite)
VITE_API_URL=http://localhost:5000

# Backend (.env in server/ folder)
PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.xxx.mongodb.net/gems-insider?retryWrites=true&w=majority&appName=ASFI
JWT_SECRET=your-strong-secret-key-here
ADMIN_PASSWORD=your-strong-admin-password-here # required
CLIENT_URL=http://localhost:5173,https://yourdomain.com
